.terminationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.terminationMessage {
    color: #ff0000;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px #ff0000;
}
