@import './styles/variables.css';
@import './styles/animations.css';
@import './styles/glow.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
  /* Tech feel */
}

body {
  background-color: var(--bg-dark);
  color: #fff;
  font-family: var(--font-tech);
  overflow: hidden;
  /* App feel */
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}